* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.navbar {
    background-color: #087830;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #90EE90;
}

.container {
    padding: 40px;
}

.page-title {
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.08);
    margin-bottom: 20px;
}

.btn {
    background-color: #087830;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background-color: #087830;

}


body.login{
    background-color:black;
    align-items:center;
    display:flex;
    justify-content:center;
}


div.wrap{
    width:420px;
  display: grid;
  background-color:transparent;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  color:white;
  border: 2px solid;
  border-radius:10px;
  padding: 30px 40px;
  box-shadow: 0 0 10px;
  backdrop-filter: blur(15px);

}

.seats-container{
    height:400px;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.seats{
    flex: 1;
    margin:0 auto;
    margin-top: 1rem;
    display:flex;
    flex-direction: column;
    gap: 1rem;
}
.seat{
    cursor:pointer;
    background-color: #90EE90;
    height:30px;
    width:30px;
    border-radius: 5px;
    position:relative;
}

.row{
    display:flex;
    align-items:center;
    justify-content: center;
    gap: 30px;
}
.legend{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
}
.legend > div{
    display:flex;
    align-items: center;
    gap: 5px;
    margin: 0 auto;

}

.seat.reserved{
    cursor:not-allowed;
    background-color: red;
}
