/*all html*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.bg {
  background: #90ee90;
}

.btn {
  background-color: #087830;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-large {
  background-color: #087830;
  color: white;
  border: none;
  width: 100%;
  font-size: 15px;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #90ee90;
}

.italics {
  font-style: italic;
}

/*index.html*/

.login-title {
  margin-bottom: 5px;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #087830;
}

.login-container {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 20px 40px rgb(0, 0, 0);
  text-align: center;
  width: 320px;
}

.login-container input {
  width: 100%;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
}

/*home.html*/

.welcome-title {
  font-size: 75px;
  font-weight: 750;
  color: #087830;
}

.portal {
  background: #90ee90;
  text-align: center;
  margin-top: 100px;
}

.portal-grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 50px;
}

.portal-card {
  text-decoration: none;
  color: black;
  background: white;
  padding: 25px;
  width: 225px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgb(0, 0, 0);
  transition: 0.5s;
}

.portal-card:hover {
  transform: translateY(-5px);
}

/*html pages (labs, reservation, ...)*/

.logo {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.navbar {
  background-color: #087830;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.1s;
}

.nav-links a:hover {
  color: #90ee90;
}

.container {
  padding: 30px;
}

.subtitle {
  color: #36454f;
  margin-bottom: 30px;
}

/*labs.html*/

.seat-map {
  margin-top: 25px;
  text-align: center;
}

.screen {
  background: #087830;
  color: white;
  padding: 15px;
  border-radius: 5px;
  width: 250px;
  margin: 0 auto 25px;
}

.seat-grid {
  display: grid;
  grid-template-columns: repeat(12, 88px);
  gap: 12px;
  justify-content: center;
}

.seat {
  background: #e8e4c9;
  padding: 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.seat:hover {
  background: #90ee90;
}

.legend {
  margin-top: 25px;
}

.seat-legend {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-top: 25px;
  background: #e8e4c9;
  margin: 0px 10px;
  border-radius: 5px;
}

.reserved {
  background: #ff6b6b;
  color: white;
  cursor: not-allowed;
}

.seat-legend.reserved {
  background: #ff6b6b;
}

.lab-select {
  width: 25%;
  padding: 14px 40px 14px 16px;
  font-size: 16px;
  color: #1f2937;
  background: white;
  border: 2px solid #e5e7eb;
  border-radius: 10px;
  cursor: pointer;
  appearance: none;
}

.lab-select:hover {
  border-color: #9ca3af;
}

/*reservation.html*/

.form-card {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 50px;
  border-radius: 25px;
  box-shadow: 0 25px 50px rgb(0, 0, 0);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.form-group input,
.form-group select {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #d3d3d3;
}

.form-row {
  display: flex;
  gap: 25px;
}
